<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #E2DACD; box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.3); z-index: 9999;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <h1 class="h5 text-dark m-0 mx-2" style="font-family: 'Inter', sans-serif; font-weight: bold; font-size: 20px;">Panadería Artisana</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active text-dark" aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Características</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Precios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Contacto</a>
                </li>
            </ul>
        </div>
        <div class="d-none d-lg-block">
            <a class="btn btn-dark text-light mx-2 px-3 py-2" style="background-color: #50403E;" href="#">Ingresar</a>
        </div>
    </div>
</nav>
